// uses in app.styl

$app-font-family = inherit
$app-font-size = inherit // also uses in mixins.styl for rem()
$app-font-weight = inherit
$app-line-height = inherit
$app-color = inherit
$app-bg-color = inherit