include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../../include/scripts/scripts

doctype html
html(lang='ru')
	include ../../include/head/head
	body

		block fixed

		block content

		+scripts(['app.min.js'])
		block script